<%- include('../includes/head.ejs')%>
</head>

<body>
    <div class="container">
        <%- include('../includes/navigation.ejs') %>
        <div class="page-container">
            <div class="login-form-container post-form-container"> 
                <h1>Jätä ilmoitus</h1>
                <form method="POST" action="/admin/add-post">
                    <div class="post-module">
                        <label for="postType">Ilmoitus tyyppi*</label>
                        <div class="text-field dropdown base">
                            <select name="postType">
                                <option value=""> Valitse ilmoitustyyppi</option>
                                <option value="kadonnut">Kadonnut</option>
                                <option  value="loydetty">Löydetty</option>
                            </select>
                        </div>
                        <label for="kunta">Kunta*</label>
                        <div class="text-field dropdown base">
                            <select name="city">
                                <option value="valitse">Valitse kunta</option>
                                <option value="askola">Askola</option>
                                <option  value="espoo">Espoo</option>
                                <option  value="hanko">Hanko</option>
                                <option value="helsinki">Helsinki</option>
                                <option  value="hyvinkaa">Hyvinkää</option>
                                <option  value="inkoo">Inkoo</option>
                            </select>
                        </div>

                        <label for="postinumero">Postinumero*</label>
                        <div class="text-field base" ><input id="postinumero" type="text" name="postinumero"></div>
                        <label for="date">Kadonneet tai löytyy päivämäärä*</label>
                        <div class="text-field base" ><input id="paiva" type="date" name="date"></div>
                        <label for="size">Lemmikin koko</label>
                        <div class="text-field dropdown base">
                            <select name="size">
                                <option value="valitse koko">Valitse koko</option>
                                <option value="pieni">Pieni</option>
                                <option  value="keskikokoinen">Keskikokoinen</option>
                                <option  value="iso">Iso</option>
                            </select>
                        </div>
                        <label for="color">Lemmikin väri</label>
                        <div class="text-field dropdown base">
                            <select name="color">
                                <option value="kaikki">Kaikki värit</option>
                                <option value="musta">Musta</option>
                                <option  value="ruskea">Ruskea</option>
                                <option  value="kultainen">Kultainen</option>
                                <option value="punainen">Punainen</option>
                                <option  value="harmaa">Harmaa</option>
                                <option  value="valkoinen">Valkoinen</option>
                                <option value="oranssi">Oranssi</option>
                                <option  value="monivarinen">Monivärinen</option>
                            </select>
                        </div>
                        <label for="gender">Lemmikin sukupuoli</label>
                        <div class="text-field dropdown base">
                            <select name="gender">
                                <option value="valitse sukupuoli">Valitse sukupuoli</option>
                                <option value="uros">Uros</option>
                                <option  value="naaras">Naaras</option>
                            </select>
                        </div>
                        <label for="rotu">Lemmikin rotu</label>
                        <div class="text-field dropdown base">
                            <select name="rotu">
                                <option value="valitse rotu">Valitse rotu</option>
                                <option value="exotic">Exotic</option>
                                <option  value="turkkilainen van">Turkkilainen van</option>
                                <option  value="ameriacan curl">American Curl</option>
                                <option value="laPerm">LaPerm</option>
                                <option  value="maine coon">Maine Coon</option>
                                <option  value="neva masquerade">Neva Masquerade</option>
                            </select>
                        </div>
                        <label for="title">Otsikko</label>
                        <div class="text-field base" ><input id="title" type="text" name="title"></div>
                        <label for="postText">Ilmoitusteksti*</label>
                        <div class="text-field base" ><textarea id="postText" name="postText" rows="5"></textarea></div>
                        <label for="kuva">Kuva*</label>
                        <div class="" ><input id="kuva" type="file" name="kuva"></div>
                        
                        <button class="button-green button login-button" type="submit">Jätä ilmoitus</button>   
                    
                        
                    </div>
                </form>     
            </div>   
        </div>
    </div>        
<%- include('../includes/end.ejs') %>