<%- include('../includes/head.ejs') %>
</head>

<body>
  <div class="container">
    <%- include('../includes/navigation.ejs') %>
    <div class="page-container">
      <%- include('../includes/navigation-2.ejs') %>
      <div class="pets">
        <a href="/admin/edit-post" class="media tile">
            <img class="media-image" src="img/250x250/cat2.jpg" alt="cat2">
            <div class="media-body">
                <p>Uros, nuori</p><br>
                <p>Alajärvi Keskus, Alajärvi</p><br>
                <p>Hävinnyt 09/12/2019</p>
                <div class="edit-post">
                  <button class="button-green button">Poista</button>
                  <button class="button-green button">Muokata</button>
                </div>
            </div>
        </a>
      </div>
    </div>
  </div>
  <%- include('../includes/end.ejs') %>

        