<header> 
  <nav class="nav-container">
      <ul class="site-nav">
            <li class="item logo nav-left">
                <a href="/">findyourpet</a>
            </li>
            <% if (isAuthenticated) { %>
            <li class="item">
                <a href="/admin/add-post" title="Jätä ilmoitus"><i class="fa fa-plus-circle" aria-hidden="true"></i><span class="desktop-only"> Jätä ilmoitus</span></a>
            </li>
            <li class="item">
                <a href="/admin/message" title="Viestit"><i class="fa fa-comments" aria-hidden="true"></i><span class="desktop-only"> Viestit</span></a>
            </li>
            <li class="item">
                <a href="/admin/posts" title="Tili"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span class="desktop-only"> Liem </span></a>
            </li>
            <% } else { %>
            <li class="item">
                <a href="/login" title="Jätä ilmoitus"><i class="fa fa-plus-circle" aria-hidden="true"></i><span class="desktop-only"> Jätä ilmoitus</span></a>
            </li>
            <li class="item">
                <a href="/login" title="Viestit"><i class="fa fa-comments" aria-hidden="true"></i><span class="desktop-only"> Viestit</span></a>
            </li>
            <li class="item">
                <a href="/login" title="Tili"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span class="desktop-only"> Login</span></a>
            </li>
            <% } %>
      </ul>
  </nav>
</header>