<div class="toolbar">
  <ul class="site-nav">
      <li class="ownpost <%= path === '/posts' ? 'active' : '' %>">
        <a href="/admin/posts" title="Omat ilmoitukset"> Omat ilmoitukset</a>
      </li>
      <li class="profile">
        <a class="" href="/admin/profile" title="Omat tiedot">Omat tiedot</a>
      </li>
      <li class="signout">
        <a href="#" title="Kiraudu ulos">Kirjaudu ulos</a>
      </li>
  </ul>
</div>