<div class="search-form">
  <div class="form-container"> 
      <form method="POST" action="/search-posts" class="dog-search"> 
          <div class="search-module"> 
              <div class="search-location text-field base">
                  <input id="location" type="text" name="postcode" placeholder= "Postinumero">
              </div>
              <div class="filterone text-field dropdown base">
                  <select name="postTypeId">
                      <option  value="">Kaikki ilmoitustyypit</option>
                      <option value="1">Löydetty lemmikit</option>
                      <option value="2">Kadonneet lemmikit</option>
                      <option value="3">Havainut lemmikit</option>
                  </select>
              </div> 
              <div class="search-pettype base">
                  <label class="radio-container"><input type="radio" name="petTypeId" value="1">Koira</label>
                  <label class="radio-container"><input  type="radio" name="petTypeId" value="2">Kissa</label>
                  <label class="radio-container"><input type="radio" name="petTypeId" value="3">Muu lemmikki</label>
              </div>
              <div class="search-gender base">
                  <label class="radio-container"><input type="radio" name="petGenderId" value="1">Uros</label>
                  <label class="radio-container"><input type="radio" name="petGenderId" value="2">Naaras</label>
                  <label class="radio-container"><input type="radio" name="petGenderId" value="3">Tuntematon</label>
              </div>
              <div class="search-button base">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button class="button-green button" type="submit">Hae</button>   
              </div>
              <div class="image-container">
                  <img src="img/cutedog2.png" alt="cute dog" class="search-image">
              </div>
          </div>
      </form>     
  </div>
</div>