<%- include('../includes/head.ejs') %>
</head>

<body>
  <div class="container">
    <%- include('../includes/navigation.ejs') %>
    <div class="page-container">
      <div class="detail-container search-form">
        <div class="detail-image-container"><img class="detail-image" src="img/300x400/cat4a.jpg" alt="cat4a"></div>
        <div class="detail-info">
            <div class="detail-info-1">
                <h2>Kadonnut kissa</h2>
                <p>Ilmoitus tyyppi: Kadonnut</p>
                <p>Kadonnut: 09/12/2019</p>
                <p>Sukupuoli: uros</p>
            </div>
            <div class="detail-info-2">
                <p class="desktop-only"> <h2>&nbsp;</h2> </p>
                <p>Ilmoitajan nimi: Liem</p>
                <p>Kunta: Alajärvikeskus, Alajärvi</p>
                <p>Ilmoitus jätetty: 10/12/2019</p>
            </div>  
        </div>
        <div class="detail-content">
            <p>Valkoinen/musta kissa häivinyt 9/12/2019. Erittäin lempeä ja ihmisystävällinen. Havainnot olisi terevetulleet.</p>
        </div>
        <form class="send-message" method="POST" action="message_success.html">
          <div class="send-message-container">
              <h3>Lähetä viesti ilmoitajalle</h3>
              <label for="nimi">Nimi</label>
              <div class="text-field base" ><input id="nimi" type="text" name="nimi"></div>
              <label for="viesti">Viesti</label>
              <div class="text-field base" ><textarea id="sendmessage-viesti" name="viesti" rows="5"></textarea></div>
              <a href=message_success.html><div class="message-button edit-post button button-green">Lähetä viesti ilmoitajalle</div></a>
          </div>
        </form>
      </div>
      <div class="base pets">
                  
      </div>
      <div class="sidebar-top">
          <img src="img/sidebarad.png" alt="ad1">
      </div>  
      <div class="sidebar-bottom">
          <img src="img/sidebarad.png" alt="ad2">
      </div>  
    </div>
  </div>
  <%- include('./includes/end.ejs')%>

