<%- include('../includes/head.ejs')%>
</head>

<body>
    <div class="container">
        <%- include('../includes/navigation.ejs') %>
        <div class="page-container">
            <div class="login-form-container post-form-container"> 
                <h1>Tietosuojaseloste</h1>
                <small>Tämä on prjektin tietosuojaseloste</small>
                <h2>1. Rekisterinpitäjä</h2> 
                <p>X Oy</p>  
                <p>Y-tunnus</p>
                <p>Osoite, postinumero Helsinki</p>
                <br>
                <p>Yhteyshenkilö</p>
                <p>Liem Nguyen</p>
                <br>
                <p>Karpalokuja 2B 10, 00940, Helsinki</p>
                <p>045 661 3399</p>
                <p>elminguyen@gmail.com</p>
                <br>
                <p>Rekisterin nimi</p>
                <p>X:n henkilörekisteri</p>
                <br>
                <h2>2. Kerättävät tiedot</h2>
                <p>Kun käytät tätä sivustoa, keräämme henkilökohtaisia tietoja, jotka valitset antaa meille, kuten nimesi, sähköpostiosoitteesi, puhelinnumerosi.</p>
           
                <p>Keräämme palvelumme käytön, kuten sijaintitiedot, tiedot näytetyistä mainoksista ja mainosten napsautustiedot, palveluiden ominaisuuksien käyttö- ja selaustiedot, evästiedot.</p>
                <br>
                <h2>3. Henkilötietojen käytön tarkoitus</h2>
                <p>Käyttäjän tietoja käytetään käyttäjän tunnistamiseen.  Käytämme tietoja markkinointiin ja mainontaan sekä näiden kohdentamiseen käyttäjistä muodostettujen kohderyhmien tai profiilisi perusteella.</p>
                <br>
                <h2>4. Henkilötietojen suojaus</h2>
                <p>Kaikki henkilötiedot ovat tallennettuina ympäristöön, jossa fyysinen ja tietotekninen suojaus estää ulkopuolisen käytön. Jokaisella käyttäjällä on henkilökohtainen tunnus ja salasana, jolla pääsee tietystä tietoverkosta käsiksi rajattuun tietoon.</p>
                <p>Tiedot varmuuskopioidaan erilliseen paloturvalliseen tallennustilaan, jossa tiedot ovat eri käyttäjätunnuksen ja salasanan takana.</p>
                <br>
                <h2>5. Tietojen säilytys</h2>
                <p>Tietoja säilytetään kolme vuotta käyttäjän päättymisestä, jonka jälkeen ne poistetaan tietokannasta</p>
                <br>
                <h2>6. Tietojen luovutus kolmansille osapuopille</h2>
                <p>Rekisteritietoja voidaan jakaa organisaation sisällä, sekä sidosryhmien kesken. Tietoja ei siirretä EU:n tai ETA:n ulkopuolelle</p>
                <br>
                <h2>7. Henkilötietojen käsittelyn rajoittaminen ja tietojen muuttaminen</h2>
                <p>Mikäli henkilötietojen käsittelyä halutaan rajoittaa, tietoja halutaan poistaa tai siirtää pseudonyymin taakse, saada kopio tallennetuista tiedostoista tai korjata olemassa olevaa tietoa, tai muuten sinulla on kysyttävää tietojen käsittelystä, ota yhteyttä sähköpostitse elminguyen @gmail.com.</p>
              </div>   
        </div>
    </div>        
<%- include('../includes/end.ejs') %>